.card-container {
    display: grid;
    grid-row-gap: 20px;
    padding: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

}
.button-sort{
    width: 40px;
    height: 40px;
    border-radius: 50% ;
    margin-Left: 1rem;
    margin-top: 0.5rem;
}
.pic-container {
    margin: auto;
}

.button-t{
    font-size: 1rem;
    font-weight: 700;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    text-align: center;
    background-color: #2185d0;
    color: #fff;
    border-radius: 0.3rem;
    height: 35px;
    width: 75px;

}

.image-content {
    text-align: center;
}

.services-header {
    margin: auto;
    height: 1000;
}

.flip-card {
    background-color: transparent;
    width: 250px;
    height: 250px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; 
    border-radius: 20px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 250px;
    height: 250px;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    border-radius: 20px;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 250px;
    height: 250px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 20px;
  }

  .flip-card-front {
    background-color: #bbb;
    color: black;
    border-radius: 20px;
  }
  
  .flip-card-back {
    background-color: #bbb;
    border-radius: 20px;
    color: black;
    padding: 1rem;
    transform: rotateY(180deg);
  }